#app{
    background-color: black;
    height:auto;
    padding-bottom:60px;
    background-image: url('backgroundimage.jpg');
    padding-bottom:500px;
    width:calc(auto + 50px);
    
}
.go-top-button{
    margin:auto;
    align-self:center;
    text-align:center;
    justify-self: center;
    width:50px;
    height:50px;
    position:sticky;
    top: 90%;
    left: 50%;
    margin:auto;
    border-radius:30px;
    background-color:rgb(100, 149, 237);

}
@media screen and (max-width:720px){
    .skills{
        display:flex;
    }
    h5{
        margin-left:125px;
        flex-wrap:nowrap;
    }

}




.go-top{
    width:25px;
    height:25px;
    background-image: url('up-long-solid.svg'); 
    background-size: cover; /* Scale the background image to cover the entire button */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    border: none; /* Remove the default button border */
    cursor: pointer; /* Change the cursor to a pointer when hovering over the button */
    align-self: center;
    text-align: center;
    margin:auto;
}
.go-top-button:hover{
    animation-name:button-hover;
    animation-duration:1s;
    animation-fill-mode:forwards;
}
.go-top-button:not(:hover){
    animation-name: button-not-hover;
    animation-duration:1s;
    animation-fill-mode: forwards;
}
@keyframes button-hover{
    0%{background-color:rgb(100, 149, 237) ;}
    100%{background-color: rgb(26, 103, 245);}
}
@keyframes button-not-hover {
    0%{background-color: rgb(26, 103, 245);}
    100%{background-color:rgb(100, 149, 237) ;}
    
}
#navbar{
    height:auto;
    width:auto;
    border-radius: 50%;

}
.logo{
    margin-left:-800px;
    animation-name:login-logos;
    animation-duration:2s;
    margin-left:0px;
}
.button{
    border-width: 0px;
    background-color: transparent;
    animation-name:login-utilities;
    animation-duration:2s;
    font-size:22px;
    overflow: hidden;
    box-sizing: border-box;

}
::-webkit-scrollbar{
    display:none;
}
@keyframes boldentext{
    0%{color:black;}
    100%{color:yellow}
}
@keyframes login-logos{
    0%{margin-left:-400px;opacity:0;}
    100%{margin-left:0px;opacity:1;}
}
@keyframes login-utilities{
    0%{margin-right:-1000px;opacity:0;}
    100%{margin-right:0px;opacity:1;}


}


.circle{
    height:50px;
    width:50px;
    background-color: #555;
    border-radius:50%;
}

#github-logo{
    margin-left:180px;
}

@media screen and (max-width:1000px){
    #github-logo{
        margin-left:0px;
    }

    #linkedin-logo .logo{
        height:100px;
        width:100px;

    }
    #navbar-utis{
        margin-left:100px;
    }
    #navbar-utis .button{
        margin-top:10px;
    }
    .about-me{
        margin-top:100px;
    }
}
@media screen and (max-width:800px){
    .about-me-exp{
        display:flex;
        flex-wrap: wrap;
    }
}
 

.page-document{
    background-color:blue;
    height:auto;
    width:auto;
    display:flex;
    text-align: center;
    align-items: center;
}
.about-me-photo{
    margin-top:50px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.about-me-exp{
    color:white;
    max-width: 800px;
    font-size:20px;
    padding-top:30px;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.photo-me{
    width:400px;
    height:500px;
    clip-path: circle(50% at 50% 50%);
}

@media screen and (max-width:768px) {
    #navbar{
        opacity:1;
    }
}
/* .skills{
    display:flex;
    background-color: transparent;
    height:auto;
    width:auto;
    justify-content: center;
    align-items: center;
    margin:auto;
} */
#skills-container{
    margin-top:100px;
}
.skills-left-logos{
    animation-name:skills-left-login;
    animation-duration:2s;
}
.about-me{
    opacity:0;
}
.about-me-slideIn{
    transition:opacity 2s ease-in;
    opacity:1;
}
.about-me-slideOut{
    transition:opacity 2s ease-out;
    opacity:0;
}
@keyframes skills-left-login {
    0%{margin-left:400px;opacity:0;}
    100%{margin-left:0px;opacity:1;}   
}
@keyframes skills-right-login {
    0%{margin-right:400px;opacity:0;}
    100%{margin-right:0px;opacity:1;}
}
@media screen and (max-width:600px) {
    @keyframes skills-left-login{
        0%{margin-left:20px;opacity:0;}
        100%{margin-left:0px;opacity:1;}
    }
    @keyframes skills-right-login{
        0%{margin-left:20px;opacity:0;}
        100%{margin-left:0px;opacity:1;}
    }
    .col-md-2 .skill-logo{
        height:50px;
        width:50px;
    }

    
}
@keyframes skills-out{
    0%{opacity:1;}
    100%{opacity:0;}
}

.skill-logo{
    width:75px;
    height:75px;
    margin-top:40px;
}

.skill-logo:hover{
    color:black;
    opacity:0.7;
}

#skill-grid-first-row{
    opacity:0;
}
#skill-grid-second-row{
    opacity:0;
}
#skill-grid-third-row{
    opacity:0;
}
#skill-grid-fourth-row{
    opacity:0;
}
#skill-grid-fifth-row{
    opacity:0;
}
#contact-me{
    /* margin:auto; */
    height:600px;
    width:1000px;
}
.button:focus,.button:active{
    outline:none;
    box-shadow:none;
}
.button-move:focus,.button-move:active{
    outline:none;
    box-shadow:none;
}
#email-logo{
  width: 100px; /* Set initial width */
  height: 35px; /* Set initial height */
 /* For visibility, add your desired styles */
  animation-name: bouncing-mail; /* Apply the defined keyframes */
  animation-duration: 3s; /* Adjust the duration as needed */
  animation-timing-function: ease-in-out; /* Add easing for smooth animation */
  animation-iteration-count: infinite; /* Infinite loop for the bouncing effect */
  align-items: start;
  margin:auto;
  text-align: start;
  justify-content: start;

}
#contact-me-text{
    align-self: center;
    margin:auto;
    justify-content: center;
    text-align: center;
    color:white;
}

@keyframes bouncing-mail {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
   40% {transform: translateY(-30px);} 
   60% {transform: translateY(-15px);} 
    
}

.stars-container{
    position:relative;
}
/* Here we are making roundabout balls  */
.star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    border-radius: 885px;
    background: linear-gradient(-45deg,
            #eef0f5, rgba(0, 0, 255, 0));
 
    -webkit-filter: drop-shadow(0 0 6px #eef1f8);
    filter: drop-shadow(0 0 6px #d7dff0);
    -webkit-animation: tail 3000ms ease-in-out infinite,
        shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite,
        shooting 3000ms ease-in-out infinite;
}
 
/* Here we add before and after effect to star */
.star::before,
.star::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg,
            rgba(0, 0, 255, 0),
            #eaeef8,
            rgba(0, 0, 255, 0));
    -webkit-transform: translateX(50%) rotateZ(45deg);
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
}
 
.star::after {
    -webkit-transform: translateX(50%) rotateZ(-45deg);
    transform: translateX(50%) rotateZ(-45deg);
}
 
/* Here we are adding location of each
     nth-child, animations, delays, and
     before and after effects to each
     and every balls(stars) */
.star:nth-child(1) {
    top: calc(30% - -119px);
    left: calc(50% - 43px);
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
}
 
.star:nth-child(1)::before,
.star:nth-child(1)::after {
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
}
 
.star:nth-child(2) {
    top: calc(30% - -43px);
    left: calc(30% - 37px);
    -webkit-animation-delay: 5000ms;
    animation-delay: 5000ms;
}
 
.star:nth-child(2)::before,
.star:nth-child(2)::after {
    -webkit-animation-delay: 5000ms;
    animation-delay: 5000ms;
}
 
.star:nth-child(3) {
    top: calc(30% - -40px);
    left: calc(30% - 222px);
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}
 
.star:nth-child(3)::before,
.star:nth-child(3)::after {
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}
 
.star:nth-child(4) {
    top: calc(30% - -29px);
    left: calc(30% - 113px);
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}
 
.star:nth-child(4)::before,
.star:nth-child(4)::after {
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}
 
.star:nth-child(5) {
    top: calc(30% - 146px);
    left: calc(30% - 112px);
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
}
 
.star:nth-child(5)::before,
.star:nth-child(5)::after {
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
}
 
.star:nth-child(6) {
    top: calc(30% - -108px);
    left: calc(30% - 160px);
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
}
 
.star:nth-child(6)::before,
.star:nth-child(6)::after {
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
}
 
.star:nth-child(7) {
    top: calc(30% - 52px);
    left: calc(30% - 72px);
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}
 
.star:nth-child(7)::before,
.star:nth-child(7)::after {
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}
@media screen and (max-width:1000px){
    
    .star{
        left:0.0000005%;
        top:20%;
        display:none;
    }
    .star::before,
    .star::after {
    content: "";
    position: absolute;
    top: calc(20% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg,
            rgba(0, 0, 255, 0),
            #eaeef8,
            rgba(0, 0, 255, 0));
    -webkit-transform: translateX(1%) rotateZ(45deg);
    transform: translateX(1%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
    }
.star:nth-child(1) {
    top: calc(0.2% - -19px);
    left: calc(0.2% - 4px);
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
}
 
.star:nth-child(1)::before,
.star:nth-child(1)::after {
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
}
 
.star:nth-child(2) {
    top: calc(0.2% - -8px);
    left: calc(0.2% - 7px);
    -webkit-animation-delay: 5000ms;
    animation-delay: 5000ms;
}
 
.star:nth-child(2)::before,
.star:nth-child(2)::after {
    -webkit-animation-delay: 5000ms;
    animation-delay: 5000ms;
}
 
.star:nth-child(3) {
    top: calc(0.2% - -8px);
    left: calc(0.2% - 22px);
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}
 
.star:nth-child(3)::before,
.star:nth-child(3)::after {
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}
 
.star:nth-child(4) {
    top: calc(0.2% - -6px);
    left: calc(0.2% - 22px);
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}
 
.star:nth-child(4)::before,
.star:nth-child(4)::after {
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}
 
.star:nth-child(5) {
    top: calc(0.2% - -29px);
    left: calc(0.2% - 22px);
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
}
 
.star:nth-child(5)::before,
.star:nth-child(5)::after {
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
}
 
.star:nth-child(6) {
    top: calc(0.2% - -21px);
    left: calc(0.2% - 32px);
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
}
 
.star:nth-child(6)::before,
.star:nth-child(6)::after {
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
}
 
.star:nth-child(7) {
    top: calc(0.2% - 10px);
    left: calc(1% - 14px);
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}
 
.star:nth-child(7)::before,
.star:nth-child(7)::after {
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
}
 
 
.star::after {
    -webkit-transform: translateX(10%) rotateZ(-45deg);
    transform: translateX(10%) rotateZ(-45deg);
}
    

    
}
 
/* This code will help to generate
  effect in tail of star */
@keyframes tail {
    0% {
        width: 0;
    }
 
    30% {
        width: 100px;
    }
 
    100% {
        width: 0;
    }
}
 
/* This code will generate shining
  effect in head of star */
@keyframes shining {
    0% {
        width: 0;
    }
 
    50% {
        width: 30px;
    }
 
    100% {
        width: 0;
    }
}
 
/* Here we are adding webkit-animation
  to head of star for shining */
@-webkit-keyframes shining {
    0% {
        width: 0;
    }
 
    50% {
        width: 30px;
    }
 
    100% {
        width: 0;
    }
}
 
/* Here we are adding webkit-animation
  to tail of star */
@-webkit-keyframes tail {
    0% {
        width: 0;
    }
 
    30% {
        width: 100px;
    }
 
    100% {
        width: 0;
    }
}
 
/* Here we are adding webkit-animation
  for shooting effect */
@-webkit-keyframes shooting {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
 
    100% {
        -webkit-transform: translateX(270px);
        transform: translateX(270px);
    }
}
 
/* Here we make shooting effect */
@keyframes shooting {
    0% {
        -webkit-transform: translateX(-400px);
        transform: translateX(-400px);
    }
 
    100% {
        -webkit-transform: translateX(700px);
        transform: translateX(700px);
    }
}